
.titulo__principal {
    font-family: var(--font-poppins);
    font-size: var(--txt-large);
    line-height: 36px;
}

.txt__small {
    font-family: var(--font-poppins);
    font-size: var(--txt-small);
    font-weight: 300;
    line-height: 24px;
}
.text__medium{
    font-family: var(--font-poppins);
    font-size: var(--text-medim);
    line-height: 24px;
}